
.main-container
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
}

.left-bar {
    grid-column: 1/2;
}

.tables_container {
    grid-column: 2/13;
}

.work_panel
{
    margin: 0.5em;
    position: fixed;
    align-content: center;
    align-items: center;
}

.work_panel img{
    max-width: 9em;
}

button
{
    max-width: 9em;
}

.buttons
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.inputs
{
    display: flex;
    flex-direction: column;
}

input {
    max-width: 9em;
    height: 3em;
    text-align: center;
}

.tables
{
    display: flex;
    justify-content: space-between;
}

