* {
    margin: 0;
    padding: 0;
}

p {
    color: red;
    font-size: 43px;
}

input {
    max-width: 80px;
    min-height: 80px;
    text-align: center;
}

div {
    display: inline-block;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

button {
    max-width: 120px;
    min-width: 120px;
    min-height: 35px;
    background-color: rgb(112,11,112);
    color: white;
}

td {
    min-width: 80px;
    background-color: rgb(211,222,134);
    text-align: center;
}

#tablehead {
    background-color: rgba(110,111,190, 0.66);
    color: white;
}

body {
    background-color: rgb(112,131,135);
}